<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head th:replace="user/fragments/head :: head"></head>
<head>
    <title>Camcorderio - Home</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
</head>

<body>
<div th:replace="user/fragments/navbar :: navbar"></div>

<div th:replace="user/fragments/slider :: slider"></div>

<div>

    <section>
        <div class="container my-5">
            <header class="mb-4">
                <h3>New products</h3>
            </header>

            <div class="row">
                <!-- Assuming you are iterating through a list of products in your Thymeleaf template -->
                <div class=" col-6 col-sm-6 col-md-4 col-lg-3 d-flex" th:each="product : ${products}">
                    <div class="card w-100 mb-3  shadow border-0">
                        <!-- Replace the static image source with the dynamic image path from the product -->
                        <a th:href="@{/product/{productId}(productId=${product.productId})}">
                            <img th:src="*{product.imagesPath.get(0)}" class="card-img-top" style="aspect-ratio: 2 / 2"/>
                        </a>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <hr>

                            <h5 class="card-title" th:text="${product.name}"></h5>

                            <div>
                                 <span class="h5 mb-0 text-gray text-through">
                                     <span th:if="${product.offerAmount}">&#x20B9;<span th:text="${product.price - product.offerAmount}"></span></span>
                                     <span th:unless="${product.offerAmount}">&#x20B9;<span th:text="${product.price}"></span></span>
                                </span>
                                <span class="h6 mb-0 text-danger" th:if="${product.offerAmount}"><del>&#x20B9;<span th:text="${product.price}"></span></del></span>
                            </div>


                            <span th:if="${user != null and user.role == 'USER'}">
                        <a class="btn btn-custom-buy shadow-0 me-1 w-100 text-white add-to-cart-btn" th:data-product-id="${product.productId}">Add to cart</a>
                           </span>
                            <span th:unless="${user != null and user.role == 'USER'}">
                        <a href="/login" class="btn btn-custom-buy shadow-0 me-1 w-100 text-white add-to-cart-btn">Add to cart</a>
                                 </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="/products" class="btn btn-custom-buy shadow-0 me-1 w-50 mt-2 mb-5">
                See More Products
            </a>
        </div>
    </section>


</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Add to cart button click event
        document.querySelectorAll('.add-to-cart-btn').forEach(function (button) {
            button.addEventListener('click', function () {
                // Get product information from data attributes
                let productId = this.getAttribute('data-product-id');


                $.ajax({
                    url: `/add/to/cart?productId=${productId}`,      // The URL to which the request is sent
                    type: 'get',               // The HTTP method to use for the request (e.g., 'GET', 'POST')
                    dataType: 'json',         // The type of data expected from the server ('json', 'xml', 'html', or 'text')
                    success: function (response) {
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Add or update cart successfully",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                });

                // Rest of your code...
            });
        });
    });
</script>


<div th:replace="user/fragments/shipping_details :: shipping_details"></div>

<div th:replace="user/fragments/footer :: footer"></div>

<div th:replace="user/fragments/script :: script"></div>
</body>
</html>
