<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin - Orders</title>

    <style>
        .tooltip {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: max-content;
            background-color: #fff;
            color: #000;
            border: 1px solid #ccc;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        .active {
            color: green;
        }

        .inactive {
            color: red;
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background-color: rgba(0, 0, 0, 0.41);
            display: none;
        }

    </style>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"  rel="stylesheet" />
</head>
<body>

<div th:replace="admin/fragments/navbar :: navbar"></div>

<div th:replace="admin/fragments/sidebar :: sidebar"></div>

<div class="overlay" id="overlay"></div>


<div class="p-4 sm:ml-64">
    <div class="p-4 rounded-lg dark:border-gray-700 mt-14">

        <!--        <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">-->
        <!--            Toggle modal-->
        <!--        </button>-->
        <div th:if="${erorr}" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium" th:text="${error}">Danger alert!</span>
        </div>

        <div class="grid grid-cols-12 gap-4 mb-4">

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            No
                        </th>
                        <th scope="col" class="px-6 py-3">
                           Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Order Id
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            User Id
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order, iterationStat : ${orders}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td th:text="${iterationStat.index + 1}"  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td th:text="${order.orderDate}" class="px-6 py-4 font-bold text-gray-900">
                        </td>
                        <td class="px-6 py-4">
                            <span class="category-description font-medium text-gray-900" th:text="${order.orderId}"></span>
                        </td>
                        <td th:text="${order.status}" class="px-6 py-4 font-bold text-gray-900">
                        </td>
                        <td th:text="${order.getUser().userId}" class="px-6 py-4 font-bold text-gray-900">
                        </td>
                        <td class="px-6 py-4">
                            <a class="font-bold text-blue-600 underline mr-2" th:href="@{/admin/orders/update/{id}(id=${order.orderId})}">Details</a>
                           </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example" th:if="${orders.totalPages > 1}">
                <ul class="inline-flex -space-x-px text-sm">
                    <li th:if="${orders.hasPrevious}">
                        <a class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:href="@{'/admin/orders?page=' + ${orders.number - 1}}">Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, orders.totalPages - 1)}"
                        th:class="${orders.number == i} ? 'page-item active' : 'page-item'">
                        <a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:href="@{'/admin/orders?page=' + ${i}}" th:text="${i + 1}"></a>
                    </li>
                    <li th:if="${orders.hasNext}">
                        <a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 rounded-e-lg hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:href="@{'/admin/orders?page=' + ${orders.number + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        var categoryDescriptions = document.querySelectorAll(".category-description");

        categoryDescriptions.forEach(function (description) {
            var originalText = description.textContent.trim();
            var maxLength = 20;

            if (originalText.length > maxLength) {
                var truncatedText = originalText.substring(0, maxLength) + '...';
                description.textContent = truncatedText;
            }
        });

        function customConfirm(message) {
            return new Promise((resolve) => {
                // Show the overlay
                document.getElementById('overlay').style.display = 'block';

                const confirmContainer = document.createElement('div');
                confirmContainer.style.zIndex = 1001;
                confirmContainer.style.position = 'fixed';
                confirmContainer.style.top = '50%';
                confirmContainer.style.left = '50%';
                confirmContainer.style.transform = 'translate(-50%, -50%)';
                confirmContainer.style.background = '#f0f0f0'; // Light background color
                confirmContainer.style.padding = '20px';
                confirmContainer.style.borderRadius = '8px';
                confirmContainer.style.boxShadow = '0 4px 8px rgba(0, 0, 0, 0.2)';

                const messageElement = document.createElement('p');
                messageElement.textContent = message;
                messageElement.style.marginBottom = '15px'; // Add some spacing between message and buttons
                confirmContainer.appendChild(messageElement);

                const buttonContainer = document.createElement('div');
                buttonContainer.style.display = 'flex';
                buttonContainer.style.justifyContent = 'space-between';

                const okButton = document.createElement('button');
                okButton.textContent = 'OK';
                okButton.style.padding = '8px 15px';
                okButton.style.backgroundColor = '#28a745'; // Green color for OK button
                okButton.style.color = '#fff'; // White text color
                okButton.style.border = 'none';
                okButton.style.borderRadius = '4px';
                buttonContainer.appendChild(okButton);

                const cancelButton = document.createElement('button');
                cancelButton.textContent = 'Cancel';
                cancelButton.style.padding = '8px 15px';
                cancelButton.style.backgroundColor = '#dc3545'; // Red color for Cancel button
                cancelButton.style.color = '#fff'; // White text color
                cancelButton.style.border = 'none';
                cancelButton.style.borderRadius = '4px';
                buttonContainer.appendChild(cancelButton);

                confirmContainer.appendChild(buttonContainer);

                // Close the overlay when the user clicks OK or Cancel
                const closeOverlay = () => {
                    document.body.removeChild(confirmContainer);
                    document.getElementById('overlay').style.display = 'none';
                };

                okButton.addEventListener('click', () => {
                    closeOverlay();
                    resolve(true);
                });

                cancelButton.addEventListener('click', () => {
                    closeOverlay();
                    resolve(false);
                });

                document.body.appendChild(confirmContainer);
            });
        }


        // Use class for delete links
        document.querySelectorAll('.deleteButton').forEach(function (button) {
            button.addEventListener('click', async (event) => {
                event.preventDefault(); // Prevent the default link behavior

                const result = await customConfirm('Do you want to proceed?');
                if (result) {
                    // If the user clicks OK, navigate to the link
                    window.location.href = event.target.getAttribute('href');
                }
                // If the user clicks Cancel, do nothing
            });
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>